<div>
    <h1> Upcoming Angular Event </h1>
    <hr/>
    <div class="well hoverwell" thumbnail>
        <h2>{{event.name}}</h2>
        <div>Time: {{event.time}} </div>
        <div>Location-Address: {{event.location.address}} </div>
        <div>City: {{event.location.city}} </div>
    </div>
</div>